logging:
  pattern:
    level: "%5p [traceId=%X{traceId:-}, spanId=%X{spanId:-}]"
management:
  endpoint:
    health:
      show-details: never
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,metrics,info
otel:
  instrumentation:
    micrometer:
      enabled: true
server:
  compression:
    enabled: false
  http2:
    enabled: false
  netty:
    connection-timeout: 60s
    idle-timeout: 60s
    max-keep-alive-requests: -1
    validate-headers: false
spring:
  application:
    name: SpringNetty
  reactor:
    debug-agent:
      enabled: false
  threads:
    virtual:
      enabled: false