quarkus:
  analytics:
    disabled: true
  application:
    ui-header: "Quarkus"
  http:
    accept-backlog: 10000
    idle-timeout: 60s
    io-threads: 16
    limits:
      max-connections: 10000
    port: 8080
    read-timeout: 1s
  log:
    category:
      com.benchmarking:
        level: INFO
    console:
      format: "%d{yyyy-MM-dd HH:mm:ss} %-5p [%c{2.}] (%t) %s%e%n"
      json:
        enabled: true
      enabled: true
    level: INFO
  micrometer:
    binder:
      http-server:
        enabled: true
      jvm: true
      virtual-threads:
        enabled: true
      vertx:
        enabled: false
    enabled: true
    export:
      json:
        enabled: true
        path: metrics/json
      prometheus:
        enabled: false
        path: metrics/prometheus
  native:
    enabled: false
    native-image-xmx: 10g
    container-build: false
    debug:
      enabled: true
  smallrye-health:
    ui:
      enabled: true
  thread-pool:
    max-threads: 200
  vertx:
    event-loops-pool-size: 40
  virtual-threads:
    enabled: true
    name-prefix: "vthread-"