<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringTomcatHelloPlatformControllerTest" type="JUnit" factoryName="JUnit">
    <module name="spring-jvm-tomcat" />
    <shortenClasspath name="ARGS_FILE" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="io.github.georgecodes.benchmarking.spring.tomcat.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <extension name="software.aws.toolkits.jetbrains.core.execution.JavaAwsConnectionExtension">
      <option name="credential" />
      <option name="region" />
      <option name="useCurrentConnection" value="false" />
    </extension>
    <option name="PACKAGE_NAME" value="io.github.georgecodes.benchmarking.spring.tomcat.api" />
    <option name="MAIN_CLASS_NAME" value="io.github.georgecodes.benchmarking.spring.tomcat.api.HelloPlatformControllerTest" />
    <option name="METHOD_NAME" value="" />
    <option name="TEST_OBJECT" value="class" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>